<style>
  .navbar {
    background-color:#7C909C;
    color:            #FFFFFF;
    font-size:        0.7em;
  }

  .navbar ul li {
    display:        inline-block;
    padding:        1px;
    padding-top:    10px;
    padding-bottom: 10px;
  }

  .navbar ul li a {
    text-decoration: none;
  }

  .navbar ul li a:hover {
    background:       blue;
    color:            #CCCCCC;
    font-size:        1em;
  }
  .navbar ul li a:visited {
    color: #222222;
  }
</style>
  
<nav class="navbar">
    <ul>
      <li class='listitem'><a href='{{ site.baseurl }}/'>HOME</a></li>
      <li class='listitem'><a href='{{ site.baseurl }}/W01/'>W01</a></li>
      <li class='listitem'><a href='{{ site.baseurl }}/TXT/mylog.txt'>LOG</a></li>
      <li class='listitem'><a href='{{ site.urlgithub }}'>GitHub</a></li>
    </ul>
  </nav>